In [7]:
from CT_calibration import *

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
x = np.array([85, 2370, 78, 1660])
y = np.array([0.215, 6.26, 0.178, 4.32])

In [11]:
df = pd.DataFrame({"X": x, "Y": y})
df.head()

      X      Y
0    85  0.215
1  2370  6.260
2    78  0.178
3  1660  4.320

In [13]:
df["time_diff"] = df["X"].diff().fillna(0)

In [14]:
df.head()

      X      Y  time_diff
0    85  0.215        0.0
1  2370  6.260     2285.0
2    78  0.178    -2292.0
3  1660  4.320     1582.0

In [15]:
df["current"] = df['X'].apply(get_current)
df

      X      Y  time_diff   current
0    85  0.215        0.0  0.205318
1  2370  6.260     2285.0  6.259934
2    78  0.178    -2292.0  0.187609
3  1660  4.320     1582.0  4.320138